USE [master]
GO
/****** Object:  Database [BOXBOX]    Script Date: 01/03/2024 14:13:18 ******/
CREATE DATABASE [BOXBOX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BOXBOX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BOXBOX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BOXBOX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BOXBOX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BOXBOX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BOXBOX]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 01/03/2024 14:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[DriverID] [int] NOT NULL,
	[DriverName] [varchar](255) NULL,
	[CarNumber] [int] NULL,
	[TeamID] [int] NULL,
	[Flag] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forums]    Script Date: 01/03/2024 14:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forums](
	[ForumID] [int] NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__Forums__E210AC4F2F7AF7E2] PRIMARY KEY CLUSTERED 
(
	[ForumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 01/03/2024 14:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostID] [int] NOT NULL,
	[UserID] [int] NULL,
	[ThreadID] [int] NULL,
	[Text] [text] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__Posts__AA126038AB9243BE] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Races]    Script Date: 01/03/2024 14:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Races](
	[RaceID] [int] NOT NULL,
	[RaceName] [varchar](255) NULL,
	[Location] [varchar](255) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[WinnerDriverID] [int] NULL,
	[WinningTeamID] [int] NULL,
 CONSTRAINT [PK__Races__05FBD6D4D2CB7E4A] PRIMARY KEY CLUSTERED 
(
	[RaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RaceSurveys]    Script Date: 01/03/2024 14:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaceSurveys](
	[SurveyID] [int] NOT NULL,
	[RaceID] [int] NULL,
	[Question] [varchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SurveyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 01/03/2024 14:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolID] [int] NOT NULL,
	[Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SurveyOptions]    Script Date: 01/03/2024 14:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyOptions](
	[OptionID] [int] NOT NULL,
	[SurveyID] [int] NULL,
	[OptionText] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SurveyResults]    Script Date: 01/03/2024 14:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyResults](
	[ResultID] [int] NOT NULL,
	[SurveyID] [int] NULL,
	[OptionID] [int] NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 01/03/2024 14:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[TeamID] [int] NOT NULL,
	[TeamName] [varchar](255) NULL,
	[Logo] [varchar](max) NULL,
 CONSTRAINT [PK__Teams__123AE7B9BBB98490] PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Threads]    Script Date: 01/03/2024 14:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Threads](
	[ThreadID] [int] NOT NULL,
	[ForumID] [int] NULL,
	[UserID] [int] NULL,
	[Title] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ThreadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01/03/2024 14:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[UserName] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[RegistrationDate] [datetime] NULL,
	[LastAccess] [datetime] NULL,
	[RolID] [int] NULL,
	[ProfilePicture] [varchar](max) NULL,
	[TotalPosts] [int] NOT NULL,
	[TeamID] [int] NULL,
	[DriverID] [int] NULL,
 CONSTRAINT [PK__Users__1788CCAC4E67A637] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Drivers] ([DriverID], [DriverName], [CarNumber], [TeamID], [Flag]) VALUES (1, N'Max Verstappen', 1, 1, NULL)
INSERT [dbo].[Drivers] ([DriverID], [DriverName], [CarNumber], [TeamID], [Flag]) VALUES (2, N'Sergio Perez', 11, 1, NULL)
INSERT [dbo].[Drivers] ([DriverID], [DriverName], [CarNumber], [TeamID], [Flag]) VALUES (3, N'George Russell', 63, 2, NULL)
GO
INSERT [dbo].[Races] ([RaceID], [RaceName], [Location], [StartDate], [EndDate], [WinnerDriverID], [WinningTeamID]) VALUES (1, N'FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2024', N'Bahrein', CAST(N'2024-02-29' AS Date), CAST(N'2024-03-02' AS Date), NULL, NULL)
INSERT [dbo].[Races] ([RaceID], [RaceName], [Location], [StartDate], [EndDate], [WinnerDriverID], [WinningTeamID]) VALUES (2, N'FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2024', N'Arabia Saudí', CAST(N'2024-03-07' AS Date), CAST(N'2024-03-09' AS Date), NULL, NULL)
INSERT [dbo].[Races] ([RaceID], [RaceName], [Location], [StartDate], [EndDate], [WinnerDriverID], [WinningTeamID]) VALUES (3, N'FORMULA 1 ROLEX AUSTRALIAN GRAND PRIX 2024', N'Australia', CAST(N'2024-03-22' AS Date), CAST(N'2024-03-24' AS Date), NULL, NULL)
GO
INSERT [dbo].[Roles] ([RolID], [Name]) VALUES (2, N'Admin')
INSERT [dbo].[Roles] ([RolID], [Name]) VALUES (1, N'User')
GO
INSERT [dbo].[Teams] ([TeamID], [TeamName], [Logo]) VALUES (1, N'Red Bull Racing', NULL)
INSERT [dbo].[Teams] ([TeamID], [TeamName], [Logo]) VALUES (2, N'Mercedes', NULL)
INSERT [dbo].[Teams] ([TeamID], [TeamName], [Logo]) VALUES (3, N'Ferrari', NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F6E5A2F775]    Script Date: 01/03/2024 14:13:19 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534D7A5A694]    Script Date: 01/03/2024 14:13:19 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__A9D10534D7A5A694] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_TotalPosts]  DEFAULT ((0)) FOR [TotalPosts]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([TeamID])
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK__Posts__ThreadID__33D4B598] FOREIGN KEY([ThreadID])
REFERENCES [dbo].[Threads] ([ThreadID])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK__Posts__ThreadID__33D4B598]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK__Posts__UserID__32E0915F] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK__Posts__UserID__32E0915F]
GO
ALTER TABLE [dbo].[Races]  WITH CHECK ADD  CONSTRAINT [FK__Races__WinnerDri__693CA210] FOREIGN KEY([WinnerDriverID])
REFERENCES [dbo].[Drivers] ([DriverID])
GO
ALTER TABLE [dbo].[Races] CHECK CONSTRAINT [FK__Races__WinnerDri__693CA210]
GO
ALTER TABLE [dbo].[Races]  WITH CHECK ADD  CONSTRAINT [FK__Races__WinningTe__6A30C649] FOREIGN KEY([WinningTeamID])
REFERENCES [dbo].[Teams] ([TeamID])
GO
ALTER TABLE [dbo].[Races] CHECK CONSTRAINT [FK__Races__WinningTe__6A30C649]
GO
ALTER TABLE [dbo].[RaceSurveys]  WITH CHECK ADD  CONSTRAINT [FK__RaceSurve__RaceI__6E01572D] FOREIGN KEY([RaceID])
REFERENCES [dbo].[Races] ([RaceID])
GO
ALTER TABLE [dbo].[RaceSurveys] CHECK CONSTRAINT [FK__RaceSurve__RaceI__6E01572D]
GO
ALTER TABLE [dbo].[SurveyOptions]  WITH CHECK ADD FOREIGN KEY([SurveyID])
REFERENCES [dbo].[RaceSurveys] ([SurveyID])
GO
ALTER TABLE [dbo].[SurveyResults]  WITH CHECK ADD FOREIGN KEY([OptionID])
REFERENCES [dbo].[SurveyOptions] ([OptionID])
GO
ALTER TABLE [dbo].[SurveyResults]  WITH CHECK ADD FOREIGN KEY([SurveyID])
REFERENCES [dbo].[RaceSurveys] ([SurveyID])
GO
ALTER TABLE [dbo].[SurveyResults]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Threads]  WITH CHECK ADD  CONSTRAINT [FK__Threads__ForumID__2F10007B] FOREIGN KEY([ForumID])
REFERENCES [dbo].[Forums] ([ForumID])
GO
ALTER TABLE [dbo].[Threads] CHECK CONSTRAINT [FK__Threads__ForumID__2F10007B]
GO
ALTER TABLE [dbo].[Threads]  WITH CHECK ADD  CONSTRAINT [FK__Threads__UserID__300424B4] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Threads] CHECK CONSTRAINT [FK__Threads__UserID__300424B4]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__RolID__29572725] FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__RolID__29572725]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_UserDriver] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Drivers] ([DriverID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_UserDriver]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_UserTeam] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([TeamID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_UserTeam]
GO
USE [master]
GO
